# dependencies
/node_modules
**/*/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# build
/build

# pangu
/packages/pangu/_site
/packages/pangu/.jekyll-cache

# shennong
/packages/shennong/build